body{
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
}

p, label{
    color: hsl(186, 14%, 43%);
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    padding-left: 3px;
}

span{
    color: hsl(172, 67%, 45%);
    font-size: 25px;
    font-weight: 700;
}

input{
    text-align: right;
    font-family: "Space Mono", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 47%, 97%);
    width: 95%;
}

input::placeholder{
    color: hsl(184, 14%, 56%);
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}

input[type=number]{
    appearance: textfield;
}

button{
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    border-radius: 3px;
}

button:hover:enabled, input:hover{
    cursor: pointer;
}

.card{
    background-color: white;
    border-radius: 15px;
    width: 280px;
    padding: 20px;
}

.input{
    padding: 10px 15px 10px 5px;
}

.totals{
    padding: 10px;
}

.totals{
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

#bill{
    background-image: url(./images/icon-dollar.svg);
    background-position: left center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid white;
}

#people{
    background-image: url(./images/icon-person.svg);
    background-position: left center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid white;
}

#tipTitle, #totalTitle{
    color: hsl(189, 47%, 97%);
}

#tipAmountNumber, #totalAmountNumber{
    text-align: center;
    align-content: center;
}

#five, #ten, #fifteen, #twentyFive, #fifty{
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    border-radius: 3px;
    width: 115px;
    margin: 5px;
    padding: 5px;
}

#custom{
    width: 105px;
    padding: 5px;
    border: 3px solid white;
    text-align: center;
}

#custom::placeholder{
    color: hsl(186, 14%, 43%);
}

#five:hover, #ten:hover, #fifteen:hover, #twentyFive:hover, #fifty:hover{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}

#labels{
    display: flex;
}

#billError, #peopleError{
    margin-left: auto;
    margin-right: 0;
    font-size: 12px;
    font-weight: 700;
    color: orange;
}

#reset{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 9px;
    margin-top: 20px;
}

#reset:enabled{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#reset:disabled{
    background-color: hsl(186, 14%, 43%);
    color: hsl(183, 100%, 15%);
}

@media(max-width: 70em){
    img{
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
    span p{
        margin: 0;
    }
    #tipAmountTitle, #totalAmountTitle{
        padding: 10px 0 10px 0;
    }
}

@media (min-width: 70em){
    body{
        height: 90vh;
    }
    img{
        margin-top: 0;
    }
    input{
        margin-top: 5px;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .card{
        display: flex;
        margin-top: 5em;
        width: 80%;
    }
    .input{
        padding-top: 20px;
    }
    .totals{
        padding: 30px;
        margin: 10px;
        width: 75%;
        grid-template-rows: auto auto 70px auto;
    }
    #bill{
        margin-bottom: 10px;
    }
    #five, #ten, #fifteen, #twentyFive, #fifty{
        width: 100px;
        margin: 0;
        margin-bottom: 10px;
        
    }
    #custom{
        width: 87px;
    }
    
    #tipAmountTitle, #totalAmountTitle{
        line-height: 0.5;
        padding: 20px 0 5px 0;
    }
    #tipAmountNumber, #totalAmountNumber{
        padding-top: 20px;
        text-align: right;
        padding-right: 5px;
        align-content: flex-start;
    }
    #tipAmountNumber span, #totalAmountNumber span{
        font-size: 30px;
    }
    #reset{
        font-family: "Space Mono", sans-serif;
        font-weight: 700;
        font-size: 15px;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}