body{
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
}

p{
    color: hsl(186, 14%, 43%);
}

span{
    color: hsl(172, 67%, 45%);
}

img{
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

input{
    text-align: right;
    font-family: "Space Mono", sans-serif;
    border: none;
    color: hsl(183, 100%, 15%);
}

button{
    font-family: "Space Mono", sans-serif;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
}

button:hover:enabled{
    cursor: pointer;
}

/*.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}*/

.card{
    background-color: white;
    border-radius: 10px;
}

.totals{
    background-color: hsl(183, 100%, 15%);
}

#bill{
    background-image: url(./images/icon-dollar.svg);
    background-position: left center;
    background-repeat: no-repeat;
}

#people{
    background-image: url(./images/icon-person.svg);
    background-position: left center;
    background-repeat: no-repeat;
}

#custom, input{
    background-color: hsl(189, 47%, 97%);
    color: hsl(183, 100%, 15%);
}

#tipTitle, #totalTitle{
    color: hsl(189, 47%, 97%);
}

#reset:enabled{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#reset:disabled{
    background-color: hsl(186, 14%, 43%);
    color: hsl(183, 100%, 15%);
}

@media (min-width: 70em){
    body{
        height: 70vh;
    }
    .card{
        display: flex;
    }

    .totals{
        margin: 5px;
    }
}