body{
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
}

p{
    color: hsl(186, 14%, 43%);
    text-align: left;
    font-size: 15px;
    font-weight: 700;
}

span{
    color: hsl(172, 67%, 45%);
    font-size: 25px;
    font-weight: 700;
}

img{
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

input{
    text-align: right;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    border: none;
    color: hsl(183, 100%, 15%);
    width: 100%;
}

button{
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    border-radius: 3px;
}

button:hover:enabled{
    cursor: pointer;
}

/*.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}*/

.card{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
}

.input, .totals{
    padding: 10px;
}

.input button{
    width: 120px;
    margin: 1px;
}

.totals{
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

#bill{
    background-image: url(./images/icon-dollar.svg);
    background-position: left center;
    background-repeat: no-repeat;
}

#people{
    background-image: url(./images/icon-person.svg);
    background-position: left center;
    background-repeat: no-repeat;
}

#custom, input{
    background-color: hsl(189, 47%, 97%);
    color: hsl(183, 100%, 15%);
}

#tipTitle, #totalTitle{
    color: hsl(189, 47%, 97%);
}

#tipAmountNumber, #totalAmountNumber{
    text-align: center;
    align-content: center;
}

#reset{
    grid-column-start: 1;
    grid-column-end: 3;
}

#reset:enabled{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#reset:disabled{
    background-color: hsl(186, 14%, 43%);
    color: hsl(183, 100%, 15%);
}

@media (min-width: 70em){
    body{
        height: 70vh;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .card{
        display: flex;
        width: 80%;
    }
    .input button{
        width: 90px;
    }
    .totals{
        padding: 15px;
        margin: 5px;
        width: 85%;
        grid-template-rows: auto auto 70px auto;
    }
    #tipAmountTitle, #totalAmountTitle{
        line-height: 0.5;
    }
    #tipAmountNumber, #totalAmountNumber{
        padding-top: 10px;
        align-content: flex-start;
    }
    #reset{
        grid-row-start: 4;
        grid-row-end: 5;
    }
}